.table
  %table
    %tr
      %th Title
      %th Created
    -@pair_topics.each do |pair_topic|
      %tr
        %td=link_to raw(pair_topic.title), pair_topic_path(pair_topic.id)
        %td=distance_of_time_in_words(pair_topic.created_at, Time.now) + ' ago'
        %td=link_to "Edit", edit_pair_topic_path(pair_topic)
