/ %ul.nav.nav-tabs#myTab
/   %li.active=link_to "Active", "#open", :"data-toggle" => "tab"

.table.table-striped.top-buffer
  %table
    -@topics.each do |topic|
      %tr
        %td
          -unless !topic.scheduled?
            %i.icon-calendar.icon-2x
        %td=link_to raw(topic.title), topic_path(topic.id)
