%h1 Recent Topics
/ %ul.nav.nav-tabs#myTab
/   %li.active=link_to "UnOffered", "#unoffered", :"data-toggle" => "tab"
/   %li=link_to "Offered", "#offered", :"data-toggle" => "tab"
/ .tab-content
/   .tab-pane.active#unoffered
.table.table-striped
  %table
    -@unoffered_topics.each do |topic|
      %tr
        %td=link_to raw(topic.title), topic_path(topic.id)
  / .tab-pane#offered
  /   .table
  /     %table
  /       -@offered_topics.each do |topic|
  /         %tr
  /           %td=link_to raw(topic.title), topic_path(topic.id)
