!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Schedules change, things come up. Unfortunately, the following pair appointment has been cancelled...
    %p Topic: #{link_to @topic.title, topic_url(@topic)}
    %p Where: #{@appointment.place}
    %p When: #{@appointment.date_and_time}
