!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .well
      %h1 #{@pair_proposal.user.first_name} wants to pair up on the topic #{link_to @pair_topic.title, pair_topic_url(@pair_topic)}
