.row
  .span2
    =image_tag @organization.logo_image_url.to_s
  .span10
    %h1
      -if current_user.try(:not_a_member?, @organization.id)
        =link_to 'Join', memberships_path(@organization.id), :class => 'btn  btn-success', :method => :post
      -else
        =link_to 'UnFollow', '#', :class => 'btn btn-danger', :method => :delete
      =link_to @organization.name, @organization.url, :target => "_blank"
.row.span12.top-buffer
  %ul{:class => 'nav nav-tabs', :id => 'org_topics_and_members'}
    %li.active
      =link_to "Topics", '#topics', :'data-toggle' => "tab"
    %li
      =link_to "Members", '#members', :'data-toggle' => "tab"

  .tab-content
    #topics.tab-pane.active
      %table.table
        %tr
          %th Title
        -@topics.each do |topic|
          %tr
            %td=raw link_to(raw(topic.title), topic_path(topic.id))
      .pagination=will_paginate @topics
    #members.tab-pane
      -@members.each do |member|
        .well.span2
          =member.username

